<template>
  <div>
    <planilla-asistencia :year="2018" :alumnos="alumnos" :month="5" filler=" "></planilla-asistencia>
  </div>
</template>

<script>
import planillaAsistencia from './reportePlanillaAsis.vue'
export default {
  name: 'HelloWorld',
  components: {
    planillaAsistencia  
  },
  data () {
    return {
      alumnos: [
        {
          apellidoAlumno: 'Rei',
          asistencias: 10,
          inasistencias: 6,
          nameAlumno: 'Ayanami',
          registroAsistencia: [
            { value: 'P' },
            { value: 'A' },
            { value: 'P' },
            { value: 'A' },
            { value: 'A' },
            { value: 'P' },
            { value: 'P' },
            { value: 'A' },
            { value: 'P' },
            { value: 'P' },
            { value: 'A' },
            { value: 'P' },
            { value: 'P' },
            { value: 'A' },
            { value: 'P' },
            { value: 'P' },
          ]
        },
        {
          apellidoAlumno: 'Ikari',
          asistencias: 4,
          inasistencias: 1,
          nameAlumno: 'Shinji',
          registroAsistencia: [
            { value: 'P' },
            { value: 'P' },
            { value: 'P' },
            { value: 'P' },
            { value: 'A' }
          ]
        }
        
      ]
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
